<main id="root"></main>

<script type="text/javascript">
  window.images = {
    Kilogram_logo: "<%= asset_path("Kilogram_logo.png")%>",
    google_play_store: "<%= asset_path("google_play_store.png")%>",
    ios_app_store: "<%= asset_path("ios_app_store.png")%>"
  }
</script>