.navbar {
  background-color: white;
  height: 52px;
  width: 100%;
  // width: 625px;
  // margin: 0 auto;

  position: fixed;
  top: 0;
  // left: 0;

  display: flex;
  justify-content: space-between;
}

.navbar div {
  flex: 1;

  display: flex;
  justify-content: center;
}

.navbar-logo {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}

.icon-logo {
  background-position: -75px -164px;
}

.icon-upload {
  background-position: -217px -125px;
}

.icon-setting {
  background-position: -75px -189px;
}

.navbar-logo img {
  margin-left: 57px;
  margin-top: -26px;
  width: 72px;
  height: 30px;
}

.navbar-logo div {
  width: 1px;
  height: 28px;
  background-color: #262626;
  margin-left: 40px;
  margin-right: 16px;
  margin-top: -2px;
}


.navbar-greeting {
  display: flex;
  align-content: center;
}

.navbar-greeting p {
  font-weight: 300;
  font-size: 20px;
}


.navbar-links ul {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.navbar-links ul li {
  padding: 5px;
}

.icon-profile {
  background-image: image-url("kilogram-icons1.png");
  background-position: -229px -336px;
  background-size: 437px 386px;
}

.fas, .far, .fab {
  font-size: 25px;
  cursor: pointer;
  margin: 5px;
}

.fas:hover,
.far:hover,
.fab:hover {
  color: $blue
}