.post-index {
  padding: 15px;
  width: 600px;
}

.post-index-item {
  margin-bottom: 60px;
  border: 1px solid $light-gray;
  background-color: white;
}


.post-header {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.post-header-avatar {
  margin: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: gray;
  align-self: center;
}



.post-index-footer {
  padding: 8px 16px;
}

.post-index-item-actionbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.icon-heart {
  background-position: -136px -102px;
}

.icon-heart-liked {
  background-position: -132px -30px;
}

.icon-comment {
  background-position: -125px -189px;
}

.icon-share {
  background-position: -100px -189px;
}

.icon-bookmark {
  background-position: -192px -125px;
  align-self: flex-end;
  margin-right: 0;
}

.post-likes-counter {
  margin: 8px 0px;
}

.comment-index-container ul li {
  margin: 4px 0px;
}

.post-timestamp {
  font-size: 9pt;
  color: $light-gray;
  padding: 5px 0px;
  text-transform: uppercase;
}

.comment-form {
  border-top: 1px solid $light-gray;
  margin: 0;
  padding: 5px 0;
}

.comment-form input {
  font-size: 10.5pt;
  color: $gray;
  width: 100%;
}